@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-container">
    @foreach (var movie in Model.Movies)
    {
        string imageSrc = "/uploads/" + movie.FileName;

        <div class="card">
            <a asp-page="DisplayMovie" asp-route-id="@movie.MovieId"></a>
            <img src="@imageSrc"/>
            <div class="card-caption">
                <img src="~/profiles/jane.jpg" />
                <div>Jane</div>
            </div>
        </div>
    }
</div>