@page
@model MyMovies.Pages.MovieAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Movie</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="FileUpload" class="form-label"></label><br>
                <input asp-for="FileUpload" class="form-control" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Category.CategoryId" class="control-label"></label>
                <select asp-for="Movie.Category.CategoryId" asp-items="Model.CategoryOptions" class="form-control"></select>
                <span asp-validation-for="Movie.Category.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Year" class="control-label"></label>
                <input asp-for="Movie.Year" class="form-control" />
                <span asp-validation-for="Movie.Year" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
