@page
@model MyMovies.Pages.MovieAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Movie</h1>

@{
    string imagePath = "/uploads/" + Model.Movie.FileName;
}


<div class="row">
    <div class="col-md-4">
        <img src="@imagePath" class="img-fluid" />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Movie.MovieId" />
            <input type="hidden" asp-for="Movie.PublishDate" />
            <input type="hidden" asp-for="Movie.FileName" />

            <div class="mb-3">
                Published: @Model.Movie.PublishDate
            </div>

            <div class="mb-3">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Movie.Category.CategoryId" class="control-label"></label>
                <select asp-for="Movie.Category.CategoryId" asp-items="Model.CategoryOptions" class="form-control"></select>
                <span asp-validation-for="Movie.Category.CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Movie.Year" class="control-label"></label>
                <input asp-for="Movie.Year" class="form-control" />
                <span asp-validation-for="Movie.Year" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
